<h1>Search Bar</h1>

<form class="create-form">

  <div class="form-group">
    <label for="name-query">Name:</label>
    <input type="text" id="name-query" name="name">
  </div>

  <button type="submit">Add Cat</button>
</form>

<h2>Area for Actor Picture and Name</h2>
<!-- Pass in data from server.js -->
  <div>
    {{actor}}
      {{#if postervalid}}
        {{> actors/actors-block poster = true}}
      {{/if}}
  </div>
